.row {
  --bs-gutter-x: 0px !important; }

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Bebas Neue'; }

html {
  font-size: 62.5%; }

body {
  background-color: #181a1b;
  overflow-x: hidden; }

header {
  display: flex;
  background-color: #9e0808;
  align-items: center; }
  header nav {
    width: 100%; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap; }
      header nav ul li {
        list-style-type: none;
        padding: 10px;
        margin: 10px; }
        header nav ul li a {
          text-decoration: none;
          color: white;
          font-size: 22px; }
          header nav ul li a:hover {
            color: black; }

div img {
  width: 100%; }

.encabezado {
  text-align: center;
  padding: 20px 0;
  color: whitesmoke; }

.fontSize {
  font-size: 4rem;
  color: whitesmoke; }

.gridContainerIndex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header" "imagenPrincipalIndex imagenPrincipalIndex" "encabezado encabezado" "imagenLateralIzq textoLateralDer" "footer footer"; }

header {
  grid-area: header; }

.imagenPrincipalIndex {
  grid-area: imagenPrincipalIndex; }

.encabezado {
  grid-area: encabezado; }

.imagenLateralIzq {
  grid-area: imagenLateralIzq; }

.textoLateralDer {
  grid-area: textoLateralDer; }

footer {
  grid-area: footer; }

.imagenLateralIzq img {
  width: 100%; }

.carousel-item img {
  height: 990px; }

.iframeWidth {
  width: 100%; }

.gridContainerArtistas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header header header" "imagenPrincipalArt imagenPrincipalArt imagenPrincipalArt" "encabezado encabezado encabezado" "imagenArribaIzq imagenArribaCentro imagenArribaDer" "imagenAbajoIzq imagenAbajoCentro imagenAbajoDer" "footer footer footer"; }

header {
  grid-area: header; }

.imagenPrincipalArt {
  grid-area: imagenPrincipalArt; }

.encabezado {
  grid-area: encabezado; }

.imagenArribaIzq {
  grid-area: imagenArribaIzq; }

.imagenArribaCentro {
  grid-area: imagenArribaCentro; }

.imagenArribaDer {
  grid-area: imagenArribaDer; }

.imagenAbajoIzq {
  grid-area: imagenAbajoIzq; }

.imagenAbajoCentro {
  grid-area: imagenAbajoCentro; }

.imagenAbajoDer {
  grid-area: imagenAbajoDer; }

footer {
  grid-area: footer; }

.imagenArribaIzq img, .imagenArribaCentro img, .imagenArribaDer img, .imagenAbajoIzq img, .imagenAbajoCentro img, .imagenAbajoDer img {
  padding: 25px; }

.fontFamily, .textoMariano, .textoTurco, .textoPiranha, .textoLeandro, .textoCarlos, .textoJoaquin {
  text-align: center;
  font-size: 20px;
  font-family: 'Oswald';
  color: whitesmoke; }

.estiloFormulario {
  font-size: 25px; }
  .estiloFormulario input {
    font-size: 18px;
    transition: font-size .5s; }
    .estiloFormulario input:focus {
      font-size: 35px; }

@media only screen and (max-width: 768px) {
  .gridContainerIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "imagenPrincipalIndex" "encabezado" "imagenLateralIzq" "textoLateralDer" "footer"; }
  header {
    flex-direction: column; }
  nav ul {
    justify-content: center; }
  .carousel-item img {
    height: auto; } }

@media only screen and (max-width: 768px) {
  .encabezado iframe {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .gridContainerArtistas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto repeat(6, 1fr) auto;
    grid-template-areas: "header" "imagenPrincipalArt" "encabezado" "imagenArribaIzq" "imagenArribaCentro"  "imagenArribaDer" "imagenAbajoIzq"  "imagenAbajoCentro"  "imagenAbajoDer" "footer"; } }

footer {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  background-color: #d20808;
  padding: 10px 0; }
