// VARIABLES
$colorPrincipal: rgb(158, 8, 8);
$bgColor: rgb(24, 26, 27);
// BOOTSTRAP
.row{
    --bs-gutter-x: 0px !important;
}
.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
}