// INDEX
@media only screen and (max-width: 768px){
	.gridContainerIndex{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(6, auto);
		grid-template-areas: 
		"header"
		"imagenPrincipalIndex"
		"encabezado"
		"imagenLateralIzq"
		"textoLateralDer"
		"footer"
	}
	header{flex-direction: column;}
	nav ul{justify-content: center;}
    .carousel-item{
        img{
            height: auto;
        }
	}
}

// NOSOTROS
@media only screen and (max-width: 768px){
	.encabezado{
        iframe{
            width: 100%;
        }
	}
}

// ARTISTAS
@media only screen and (max-width:768px){
	.gridContainerArtistas{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto repeat(6, 1fr) auto;
		grid-template-areas: 
		"header"
		"imagenPrincipalArt"
		"encabezado"
		"imagenArribaIzq"
		"imagenArribaCentro" 
		"imagenArribaDer"
		"imagenAbajoIzq" 
		"imagenAbajoCentro" 
		"imagenAbajoDer"
		"footer"
	}
}

// CONTACTO
@media only screen and (max-width:768px){
	.gridContainerContacto{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
		"imagenPrincipalContacto"
		"header"
		"formularioContacto"
		"imagenFormulario";
	}
	.imagenPrincipalContacto{grid-area: imagenPrincipalContacto;}
	.header{grid-area: header;}
	.formularioContacto{grid-area: formularioContacto; padding-bottom: 20px;}
	.imagenFormulario{grid-area: imagenFormulario;}
}